<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">

  </head>

  <body>
    <p><%= title %></p>
    <form action="create_new_work/create" method="post">
      <p><font size="3" color="red"><%= error_message %></font></p>
      <label>New work name: </label><input type="text" name="work_name"></input><br></br>
      <label>Number of peers: </label><input type="text" name="num_peers"></input><br></br>
      <label>Required_files: </label><input type="text" name="required_files"></input><br></br>
      <label>Repo path: </label><input type="text" name="code_path"></input><br></br>

      <label>Student submission deadline:</label>
        <input type="date" name="student_submission_deadline_date"></input>
        <input type="time" name="student_submission_deadline_time" value="23:55" ></input>
        <br />
      <label>Reelase students' code to their peers:</label>
        <input type="date" name="release_students_code_to_peers_date"></input>
        <input type="time" name="release_students_code_to_peers_time" value="23:55" ></input>
        <br />
      <label>Peer review deadline:</label>
        <input type="date" name="peer_review_deadline_date"></input>
        <input type="time" name="peer_review_deadline_time" value="23:55"></input>
        <br />
      <label>Release students' reviews to TA's:</label>
        <input type="date" name="release_students_reviews_to_tas_date"></input>
        <input type="time" name="release_students_reviews_to_tas_time" value="23:55"></input>
        <br />
      <label>TA review deadline: </label>
        <input type="date" name="peer_review_deadline_date"></input>
        <input type="time" name="peer_review_deadline_time" value="23:55"></input>
        <br />
      <label>Release TA's reviews to students: </label>
        <input type="date" name="release_tas_reviews_to_students_date"></input>
        <input type="time" name="release_tas_reviews_to_students_time" value="23:55"></input>
        <br />
      <input type="submit" value ="Submit">
    </form>

    <form action="create_new_work/load_assignment" method="post">
      <input type="text" name="loading_work_name" value="<%= init_loading_work_name %>"></input>
      <input type="submit" value="load_assignment" class="button"></input>
    </form>
    <br></br>
    <form action="create_new_work/distribute" method="post">
      <input type="text" name="distributing_work_name" value="<%= init_distributing_work_name %>"></input>
      <input type="submit" value="distribute for peer review" class="button"></input>
    </form>

    <li><a href="/instructor">Go back to instructor</a></li>
  </body>

</html>
