<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">

  </head>

  <body>
    <form action="/logout" method="post">
      <input type="submit" name="logout_button" value ="LOGOUT"></input>
    </form>
    <div style="width: 55%; float: left;">
    <form action="create_new_work/create" method="post">
      <p><font size="3" color="red"><%= error_message %></font></p>
      <label>New work name: </label><input type="text" name="work_name" value="<%= work_name %>"></input><br></br>
      <label>Number of peers: </label><input type="text" name="num_peers" value="<%= num_peers %>"></input><br></br>
      <label>Required_files: </label><input type="text" name="required_files" value="<%= required_files[0] %>"></input><br></br>
      <label>Repo path: </label><input type="text" name="repo_path" value="<%= repo_path %>"></input><br></br>
      <label>folder name: </label><input type="text" name="folder_name" value="<%= folder_name %>"></input><br></br>
      <label>Number of feedbacks:</label><input type="text" name="num_feedbacks" value="<%= num_feedbacks %>"></input>
      <input type="submit" name="set_feedbacks" value ="Set Feedback Questions"></input><br></br>
      <% for(var i=1; i <= num_feedbacks; i++) { 
          var q_name = "question_" + String(i) %>
        <label>question <%= i %>:</label><input type="text" name="<%= q_name %>" value="<%= feedback_questions[i-1] %>"></input><br></br>
      <% } %>


      <label>Student submission deadline:</label>
        <input type="date" name="student_submission_deadline_date"></input>
        <input type="time" name="student_submission_deadline_time" value="23:55"></input>
        <br />
      <label>Release students' code to their peers:</label>
        <input type="date" name="release_students_code_to_peers_date"></input>
        <input type="time" name="release_students_code_to_peers_time" value="23:55"></input>
        <br />
      <label>Peer review deadline:</label>
        <input type="date" name="peer_review_deadline_date"></input>
        <input type="time" name="peer_review_deadline_time" value="23:55"></input>
        <br />
      <label>Release students' reviews to TA's:</label>
        <input type="date" name="release_students_reviews_to_tas_date"></input>
        <input type="time" name="release_students_reviews_to_tas_time" value="23:55"></input>
        <br />
      <label>TA review deadline: </label>
        <input type="date" name="ta_review_deadline_date"></input>
        <input type="time" name="ta_review_deadline_time" value="23:55"></input>
        <br />
      <label>Release TA's reviews to students: </label>
        <input type="date" name="release_tas_reviews_to_students_date"></input>
        <input type="time" name="release_tas_reviews_to_students_time" value="23:55"></input>
        <br />
      <input type="submit" value ="Submit"></input>
    </form>
    </div>
  <div style="margin-left: 3%; width: 42%; float: left;">
    <form action="create_new_work/load_assignment" method="post">
      <input type="text" name="loading_work_name" value="<%= init_loading_work_name %>"></input>
      <input type="submit" value="load_assignment" class="button"></input><br />
      <label>Number of submission: <%= num_submission %>,  Number of incomplete submission: <%= student_no_submit.length%></label>
    </form>
    <br></br>
    <form action="create_new_work/distribute" method="post">
      <input type="text" name="distributing_work_name" value="<%= init_distributing_work_name %>"></input>
      <input type="submit" value="distribute for peer review" class="button"></input>
    </form>
  </div>
  <div style="width: 100%; float: left;">
    <a href="/instructor">Go back to instructor</a>

    <form action="create_new_work/distribute_ta" method="post">
      <input type="text" name="distributing_ta_work_name" value="<%= init_distributing_ta_work_name %>"></input>
    <% tas.forEach(function(ta){ 
        var cbox_name = "checkbox_" + ta.utorid; 
        var cbox_value = ta.utorid + "," + ta.weight; %>
      <input type="checkbox" name="<%= cbox_name %>" value="<%= cbox_value %>"><%= ta.utorid %></input><br />
    <% }); %>
    <input type="submit" name="" value="distribute"></input><br />
    </form>
  </div>
  </body>

</html>
