<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>students</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tab.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/table.css">
  </head>

  <body>
    <% include templates/instructor_header.ejs %>

    <form action="create_students/load" method="post" enctype="multipart/form-data">
      <input type="file" value ="Upload rosters file" name="rosters" required><br>
      <input type="submit" value ="Load new students">
    </form>

    <form id="drop-all">
      <button type="submit" name="unload_all_students" onclick="clicked()">Unload All Students(for development)</button>
      <script>
        function clicked() {
          if (window.confirm('Do you want to drop all students?')) {
            document.getElementById("drop-all").setAttribute("action", "create_students/unload_all_students");
            document.getElementById("drop-all").setAttribute("method", "post");
          }
        }
      </script>
    </form>

    <p> All students </p>
    <p> number of students is <%= num_students %> </p>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Utroid</th>
          <th>Email</th>
          <th>student_number</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < students.length; i ++) { %>
        <tr>
          <td><%= students[i].first_name %></td>
          <td><%= students[i].last_name %></td>
          <td><strong><%= students[i].utorid %></strong></td>
          <td><%= students[i].email %></td>
          <td><%= students[i].student_number %></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </body>

</html>


