<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/form.css">
    
    <script>
      function redistribute(student_distributed) {
        if (student_distributed) {
          if (window.confirm('Redistributing will earase all the highlights, comments, and feedbacks!')) {
            document.getElementById("distribute").setAttribute("action", "create_new_work/distribute");
            document.getElementById("distribute").setAttribute("method", "post");
          }
        } else {
          document.getElementById("distribute").setAttribute("action", "create_new_work/distribute");
          document.getElementById("distribute").setAttribute("method", "post");
        }
      }
    </script>
  </head>

  <body>
    <% include templates/instructor_header.ejs %>
    <div class="edit_form">
    <form action="create_new_work/edit" method="post" id="signup">
      <div class="header">
        <h3>Create New Work</h3>
        <p>You want to fill out this form</p>
     </div>
     <div class="sep"></div>
     <div class="inputs">
      <p><font size="3" color="red"><%= error_message %></font></p>
      <label>New work name: </label><input type="text" name="work_name" value="<%= work_name %>"></input><br></br>
      <label>Number of peers: </label><input type="text" name="num_peers" value="<%= num_peers %>"></input><br></br>
      <label>Required_files: </label><input type="text" name="required_files" value="<%= required_files[0] %>"></input><br></br>
      <label>Repo path: </label><input type="text" name="repo_path" value="<%= repo_path %>"></input><br></br>
      <label>folder name: </label><input type="text" name="folder_name" value="<%= folder_name %>"></input><br></br>
      <label>Number of feedbacks:</label><input type="text" name="num_feedbacks" value="<%= num_feedbacks %>"></input>
      <input type="submit" name="set_feedbacks" value ="Set Feedback Questions"></input><br></br>
      <% for(var i=1; i <= num_feedbacks; i++) { 
          var q_name = "question_" + String(i) %>
        <label>question <%= i %>:</label><input type="text" name="<%= q_name %>" value="<%= feedback_questions[i-1] %>"></input><br></br>
      <% } %>
      <label>Instruction and Tips:</label><input type="text" name="instruction" value="<%= instruction %>"></input>
      <!-- commented out for simplicity
        <label>Student submission deadline:</label>
          <input type="date" name="student_submission_deadline_date"></input>
          <input type="time" name="student_submission_deadline_time" value="23:55"></input>
          <br />
        <label>Release students' code to their peers:</label>
          <input type="date" name="release_students_code_to_peers_date"></input>
          <input type="time" name="release_students_code_to_peers_time" value="23:55"></input>
          <br />
      -->
      <label>Peer review deadline:</label>
        <% var year = parseInt(peer_review_deadline.substring(0, 4));
           var month = parseInt(peer_review_deadline.substring(5, 7));
           var day = parseInt(peer_review_deadline.substring(8, 10));
        if (month < 10) {
          if (day < 10) { %>
            <input type="date" name="peer_review_deadline_date" value="<%= year %>-0<%= month %>-0<%= day %>"></input>
      <% } else { %>
            <input type="date" name="peer_review_deadline_date" value="<%= year %>-0<%= month %>-<%= day %>"></input>
       <% }
        } else {
          if (day < 10) { %>
            <input type="date" name="peer_review_deadline_date" value="<%= year %>-<%= month %>-0<%= day %>"></input>
       <% } else { %>
            <input type="date" name="peer_review_deadline_date" value="<%= year %>-<%= month %>-<%= day %>"></input>
       <% }
        } 
           var hour = parseInt(peer_review_deadline.substring(11, 13));
           var minute = parseInt(peer_review_deadline.substring(14, 16));
        if (hour < 10) {
          if (minute < 10) { %>
            <input type="time" name="peer_review_deadline_time" value="0<%= hour %>:0<%= minute %>"></input>
      <% } else { %>
            <input type="time" name="peer_review_deadline_time" value="0<%= hour %>:<%= minute %>"></input>
       <% }
        } else {
          if (minute < 10) { %>
            <input type="time" name="peer_review_deadline_time" value="<%= hour %>:0<%= minute %>"></input>
       <% } else { %>
            <input type="time" name="peer_review_deadline_time" value="<%= hour %>:<%= minute %>"></input>
       <% }
        } %>
        <label><%= year %>-<%= month %>-<%= day %> </label>
        <br />
      <!-- commented out for simplicity
        <label>Release students' reviews to TA's:</label>
          <input type="date" name="release_students_reviews_to_tas_date"></input>
          <input type="time" name="release_students_reviews_to_tas_time" value="23:55"></input>
          <br />
        <label>TA review deadline: </label>
          <input type="date" name="ta_review_deadline_date"></input>
          <input type="time" name="ta_review_deadline_time" value="23:55"></input>
          <br />
        <label>Release TA's reviews to students: </label>
          <input type="date" name="release_tas_reviews_to_students_date"></input>
          <input type="time" name="release_tas_reviews_to_students_time" value="23:55"></input>
          <br />
      -->
        <input type="submit" value ="Submit" id="submit"></input>
      </div>
    </form>
    </div>

  <div style="margin-left: 3%; width: 42%; float: left;">
    <form action="create_new_work/load_assignment" method="post">
      <input type="submit" value="load_assignment" class="button"></input><br />
      <label><%= num_of_submission_loaded %> submissions is loaded.</label>
    </form>
    <br></br>
    <form id="distribute" >
      <% if (num_of_submission_loaded == 0) { %>
      <label><%= work_name %> is NOT loaded. Please load before distributing.</label>
      <% } %>
      <input type="submit" value="distribute / re-distribute for peer review" class="button" onclick="redistribute(<%= student_distributed %>)"></input><br />

      <% if (student_distributed) {%>
        <label><%= work_name %> has been distributed.</label>
      <% } else { %>
        <label><%= work_name %> has NOT distribted.</label>
      <% } %>
    </form>
    <br /><br /><br />
    <form action="create_new_work/distribute_ta" method="post">
    <% tas.forEach(function(ta){ 
        var cbox_name = "checkbox_" + ta.utorid; 
        var cbox_value = ta.utorid + "," + ta.weight; %>
      <input type="checkbox" name="<%= cbox_name %>" value="<%= cbox_value %>"><%= ta.utorid %></input><br />
    <% }); %>
    <input type="submit" name="" value="distribute" class="button"></input><br />
    <% if (ta_distributed) {%>
      <label>TAs have been distributed.</label>
    <% } else { %>
      <label>TAs have NOT distribted.</label>
    <% } %>
    </form>
  </div>
  </body>

</html>
