<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>students</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/form.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/table.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
  </head>

  <body>
    <% include templates/instructor_header.ejs %>
    <div class="create_form">
    <form action="instructor/create_new_work" method="post" id="signup">
      <div class="header">
        <h3>Create New Work</h3>
        <p>You want to fill out this form</p>
     </div>
     <div class="sep"></div>
     <div class="inputs">
      <p><font size="3" color="red"><%= error_message %></font></p>
      <label>New work name: </label><input type="text" name="work_name" value="<%= work_name %>"></input>
      <label>Number of peers: </label><input type="text" name="num_peers" value="<%= num_peers %>"></input>
      <label>Required_files: </label><input type="text" name="required_files" value="<%= required_files[0] %>"></input>
      <label>Repo path: </label><input type="text" name="repo_path" value="<%= repo_path %>"></input>
      <label>folder name: </label><input type="text" name="folder_name" value="<%= folder_name %>"></input>
      <label>Number of feedbacks:</label><input type="text" name="num_feedbacks" value="<%= num_feedbacks %>"></input>
      <input type="submit" name="set_feedbacks" value ="Set Feedback Questions"></input>
      <% for(var i=1; i <= num_feedbacks; i++) { 
          var q_name = "question_" + String(i); %>
        <label>question <%= i %>:</label><input type="text" name="<%= q_name %>" value="<%= feedback_questions[i-1] %>"></input>
      <% } %>
      <label>Instruction and Tips:</label>
      <% if (instruction == "") {%>
        <input type="text" name="instruction" value="TIPS"></input>
      <% } else { %>
        <input type="text" name="instruction" value="<%= instruction %>"></input>
      <% } %>
      <label>Student submission deadline:</label>
        <input type="date" name="student_submission_deadline_date"></input>
        <input type="time" name="student_submission_deadline_time" value="23:55"></input>
        <br />
      <label>Release students' code to their peers:</label>
        <input type="date" name="release_students_code_to_peers_date"></input>
        <input type="time" name="release_students_code_to_peers_time" value="23:55"></input>
        <br />
      <label>Peer review deadline:</label>
        <input type="date" name="peer_review_deadline_date"></input>
        <input type="time" name="peer_review_deadline_time" value="23:55"></input>
        <br />
      <label>Release students' reviews to TA's:</label>
        <input type="date" name="release_students_reviews_to_tas_date"></input>
        <input type="time" name="release_students_reviews_to_tas_time" value="23:55"></input>
        <br />
      <label>TA review deadline: </label>
        <input type="date" name="ta_review_deadline_date"></input>
        <input type="time" name="ta_review_deadline_time" value="23:55"></input>
        <br />
      <label>Release TA's reviews to students: </label>
        <input type="date" name="release_tas_reviews_to_students_date"></input>
        <input type="time" name="release_tas_reviews_to_students_time" value="23:55"></input>
        <br />
      <input type="submit" value ="Submit" id="submit"></input>
      </div>
    </form>
  </div>

    <form enctype="application/json" action="instructor/go_to_create_new_work" method="post">
      <table style="width:65%;">
        <thead>
          <tr>
            <th>Assignment</th>
            <th>Management</th>
            <th>Reviews</th>
            <th>Release</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < rules.length; i ++) { 
            var check_review = "check_" + rules[i].work_name;
            var release = "release_" + rules[i].work_name;
            var unrelease = "unrelease_" + rules[i].work_name;
            var release_mark = "release_mark_" + rules[i].work_name;
            var unrelease_mark = "unrelease_mark_" + rules[i].work_name;
            var release_self_review = "release_self_" + rules[i].work_name;
            var unrelease_self_review = "unrelease_self_" + rules[i].work_name; %>
          <tr>
            <td><strong><%= rules[i].work_name %></strong></td>
            <td><input type="submit" name="<%= rules[i].work_name %>" value="Edit, load, or distribute" class="button_link"></input></td>
            <td><input type="submit" name="<%= check_review %>" value="Check student reviews" class="button_link"></input></td>
            <td>
            <% if (rules[i].release) { %>
              <input type="submit" name="<%= unrelease %>" value="un-release" class="button_link"></input>
            <% } else { %>
              <input type="submit" name="<%= release %>" value="release" class="button_link"></input>
            <% } %>
            <br />
            <% if (rules[i].release_mark) { %>
              <input type="submit" name="<%= unrelease_mark %>" value="un-release marks" class="button_link"></input>
            <% } else { %>
              <input type="submit" name="<%= release_mark %>" value="release marks" class="button_link"></input>
            <% } %>
            <br />
            <% if (rules[i].release_self_review) { %>
              <input type="submit" name="<%= unrelease_self_review %>" value="un-release self reviews" class="button_link"></input>
            <% } else { %>
              <input type="submit" name="<%= release_self_review %>" value="release self reviews" class="button_link"></input>
            <% } %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </form>

  </body>
</html>
