<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/star_rater.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </head>

  <body>
    <ul class="tab">
      <% var i = 1;%>
      <% entries.forEach(function(item) { 
        var action_name = "peer_review/go_to_peer_review_" + String(i); %>
        <form enctype="application/json" action="<%= action_name %>" method="post">
        <% if (i == peer_num) { %>
          <li><input type="submit" value="<%= "Peer" + String(i)%>" class="tablinks active"></input></li>
        <% } else { %>
          <li><input type="submit" value="<%= "Peer" + String(i)%>" class="tablinks"></input></li>
        <% } %>
        </form>
        <% i = i + 1;%>
      <% }); %>
    </ul>

    <div style="display:block;" class="tabcontent">
      <div class="stars">
        <form action="">
          <input class="star star-5" id="star-5" type="radio" name="star"/>
          <label class="star star-5" for="star-5"></label>
          <input class="star star-4" id="star-4" type="radio" name="star"/>
          <label class="star star-4" for="star-4"></label>
          <input class="star star-3" id="star-3" type="radio" name="star"/>
          <label class="star star-3" for="star-3"></label>
          <input class="star star-2" id="star-2" type="radio" name="star"/>
          <label class="star star-2" for="star-2"></label>
          <input class="star star-1" id="star-1" type="radio" name="star"/>
          <label class="star star-1" for="star-1"></label>
        </form>
      </div>

      <div>
        <button onclick="highlight()">Highlight me!</button>
      </div>

      <div class="border" >
        <ol class="code">
          <%
          var lines = code.split("\n");
          var count = 1;
          var line = "line-" + String(count); 
          lines.forEach(function(next_line){
            if (next_line.length <= 1) {
              next_line = next_line + String.fromCharCode(160);
            }
            next_line = next_line.replace(" ", String.fromCharCode(160)); %>
          <li id="<%= line %>" class="row">
            <span><%= next_line %></span>
          </li>
          <% %>
          <% }); %>
        </ol>
      </div>

      <p>How can it be improved?</p>
      
      <form enctype="application/json" action="peer_review/save" method="post">
        <input type="text" required="required" style="height:40px; width:90%" name="feedback" value="<%= feedback[0] %>"></input>
        <input type="submit" value="save"></input>
      </form>
      
    </div> <!-- end of div tab_content-->


    <form enctype="application/json" action="peer_review/go_to_self_assesment" method="post">
      <input type="submit" value="save and go to self assesment"></input>
    </form>



    <form enctype="application/json" action="peer_review/go_to_index" method="post">
      <input type="submit" value="go back to index"></input>
    </form>

    <script type="text/javascript" src="javascripts/test.js"></script>
    <script type="text/javascript" src="javascripts/highlight.js"></script>
  </body>
</html>

