<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/star_rater.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/breadcrumb.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
  </head>
  <body>
    <nav>
      <ul>
      <li><a href="/home">Home</a></li>
      <li class="drop">
        <a href="#">You</a>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li>Plan</li>
              <li>Account Settings</li>
              <li>Switch Account</li>
              <li>Sign Out</li>
            </ul>
          </div>
        </div>

      <li><a href="#">Help</a></li>
    </ul>
  </nav>

    <div class="breadcrumb">
      <a>Instruction &#38; Tips</a>
      <a class="active">Give Feedback</a>
      <a>Self Assess</a>
    </div>
    <form enctype="application/json" action="peer_review/go_to_peer_review" method="post">
    <ul class="tab">
      <% var i = 1;%>
      <% entries.forEach(function(item) { %>
        <% var btn_name = "peer_" + String(i); %>
        <% var btn_value = "Peer " + String(i); %>
        <% if (i == peer_num) { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= btn_value %>" class="tablinks active"></input></li>
        <% } else { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= btn_value %>" class="tablinks"></input></li>
        <% } %>
        <% i = i + 1;%>
      <% }); %>
    </ul>

    <div class="tabcontent">
      <div class="stars">
          <input class="star star-5" id="star-5" type="radio" name="star"/>
          <label class="star star-5" for="star-5" name="star5" ></label>
          <input class="star star-4" id="star-4" type="radio" name="star"/>
          <label class="star star-4" for="star-4" name="star4"></label>
          <input class="star star-3" id="star-3" type="radio" name="star"/>
          <label class="star star-3" for="star-3" name="star3"></label>
          <input class="star star-2" id="star-2" type="radio" name="star"/>
          <label class="star star-2" for="star-2" name="star2"></label>
          <input class="star star-1" id="star-1" type="radio" name="star"/>
          <label class="star star-1" for="star-1" name="star1"></label>
      </div>

      <div>
        <input type="button" onclick="addCommentFromSelection()" value="Add Comment!"></input>
      </div>

      <div class="border" style="text-align: left;">
        <ol class="code">
          <%
          var lines = code.split("\n");
          var count = 1;
          lines.forEach(function(next_line){
            var line = "line-" + String(count); 
            if (next_line.length <= 1) {
              next_line = next_line + String.fromCharCode(160);
            }
            next_line = next_line.replace(" ", String.fromCharCode(160)); %>
            <li id="<%= line %>" class="row">
              <span><%= next_line %></span>
            </li>
            <% count = count + 1; %>
          <% }); %>
        </ol>
      </div>
      
      <div id="popup" class="annotation">comment text</div>

      

      <p style="text-align: left;">How can it be improved?</p>

        <input type="text" required="required" style="height:40px; width:90%" name="feedback" value="<%= feedback[0] %>"></input>
        <input type="submit" name="btn_1" value="save"></input>

    </div> <!-- end of div tab_content-->
    </form>


    <form enctype="application/json" action="peer_review/go_to_self_assesment" method="post">
      <input type="submit" value="save and go to self assesment"></input>
    </form>



    <form enctype="application/json" action="peer_review/go_to_index" method="post">
      <input type="submit" value="go back to index"></input>
    </form>

    <script type="text/javascript" src="javascripts/test.js"></script>
    <script type="text/javascript" src="javascripts/highlight.js"></script>
  </body>
</html>

