<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/star_rater.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tab.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/breadcrumb.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/textbox.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
  </head>
  <body onload="<%- "set_up_highlight('" + String(init_highligts) + "')"%>">
    <% include templates/student_header.ejs %>

    <div class="breadcrumb">
      <a>Instruction &#38; Tips</a>
      <a class="active">Give Feedback</a>
      <a>Self Assess</a>
    </div>
    <form enctype="application/json" action="peer_review/go_to_peer_review" method="post">
  <div>
  </div>
    <ul class="tab">
      <% var i = 1;%>
      <% entries.forEach(function(item) { %>
        <% var btn_name = "peer_" + String(i); %>
        <% var btn_value = "Peer " + String(i); %>
        <% if (i == peer_num) { 
              if (reviewed[item] > 0) { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= btn_value %>" class="tab both"></input></li>
          <% } else {%>
          <li><input type="submit" name="<%= btn_name%>" value="<%= btn_value %>" class="tab active"></input></li>
          <% } %>
        <% } else if (reviewed[item] > 0) { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= btn_value %>" class="tab reviewed"></input></li>
        <% } else { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= btn_value %>" class="tab"></input></li>
        <% } %>
        <% i = i + 1;%>
      <% }); %>
    </ul>

    <div class="tabcontent">
      <div class="stars">
        <% for(var i = 5; i >= 1; i --){
            var class_name = "star star-" + String(i);
            var id_name = "star-" + String(i);
            var func_name = "get_star(" + String(i) + ")";
            if (i == number_of_stars) { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" onclick="<%= func_name%>" checked="checked"></input>
         <% } else { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" onclick="<%= func_name%>"></input>
         <% } %>
            <label class="<%= class_name %>" for="<%= id_name %>"></label>
        <% } %>
      </div>

      <input id="star_number" value="<%= number_of_stars%>" name="star_num" style="display:none;"></input>
      <input id="storage" name="highlight_storage" type="text" style="display:none;"></input>

      <div>
        <input type="button" onclick="addCommentFromSelection()" value="Add Comment!"></input>
      </div>

      <div class="border" style="text-align: left;">
        <ol class="code">
          <%
          var lines = code.split("\n");
          var count = 1;
          lines.forEach(function(next_line){
            var line = "line-" + String(count); 
            if (next_line.length <= 1) {
              next_line = next_line + String.fromCharCode(160);
            }
            next_line = next_line.replace(new RegExp(' ', 'g'), String.fromCharCode(160)); %>
            <li id="<%= line %>" class="row">
              <span><%= next_line %></span>
            </li>
            <% count = count + 1; %>
          <% }); %>
        </ol>
      </div>
      
      <div id="popup" class="annotation">comment text</div>

      
      <div style="text-align: left; font-family: monospace; margin-top:1%;">

        <h1 style="font-size: 30px;">Overall Comments</h1>
      <% for(var i = 0; i < feedback_questions.length; i++) { 
          var fb_name = "feedback_" + String(i) %>
        <p style="margin-top:1%;"><%= i + 1;%>. <%= feedback_questions[i]; %></p>
        <input type="text" class="tb1" name="<%= fb_name %>" value="<%= feedbacks[i] %>"></input>
      <% } %>
      </div>
      <input class="button" type="submit" name="save_btn" value="save"></input>

    </div> <!-- end of div tab_content-->
    </form>


    <form enctype="application/json" action="peer_review/go_to_self_assesment" method="post">
      <input class="button" type="submit" value="save and go to self assesment"></input>
    </form>

    <script type="text/javascript" src="javascripts/test.js"></script>
    <script type="text/javascript" src="javascripts/highlight.js"></script>
  </body>
</html>

