<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/star_rater.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tab.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/breadcrumb.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/textbox.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
  </head>
  <body onload="<%- "set_up_highlight('" + String(init_highligts) + "')"%>">
    <% include templates/student_header.ejs %>

    <form enctype="application/json" action="self_review/go_to_self_review" method="post">
    <ul class="tab">
      <% var i = 1;%>
      <% entries.forEach(function(item) { %>
        <% var btn_name = "peer_" + String(i); %>
        <% var btn_value = "Peer " + String(i); %>
        <% if (i == peer_num) { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= btn_value %>" class="tablinks active"></input></li>
        <% } else { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= btn_value %>" class="tablinks"></input></li>
        <% } %>
        <% i = i + 1;%>
      <% }); %>
    </ul>

    <div class="tabcontent">
      <div class="stars">
        <% for(var i = 5; i >= 1; i --){
            var class_name = "star star-" + String(i);
            var id_name = "star-" + String(i);
            var func_name = "get_star(" + String(i) + ")";
            if (i == num_stars) { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" checked="checked" value="N" disabled></input>
         <% } else { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" value="N" disabled></input>
         <% } %>
            <label class="<%= class_name %>" for="<%= id_name %>"></label>
        <% } %>
      </div>

      <div class="border" style="text-align: left;">
        <ol class="code">
        <%var lines = code.split("\n");
          var count = 1;
          lines.forEach(function(next_line){
            var line = "line-" + String(count); 
            if (next_line.length <= 1) {
              next_line = next_line + String.fromCharCode(160);
            }
            next_line = next_line.replace(" ", String.fromCharCode(160)); %>
            <li id="<%= line %>" class="row">
              <span><%= next_line %></span>
            </li>
            <% count = count + 1; %>
          <% }); %>
        </ol>
      </div>
      
      <div id="popup" class="annotation">comment text</div>

      
      <div style="text-align: left; font-family: monospace; margin-top:1%;">
      <% for(var i = 0; i < feedback_questions.length; i++) { 
          var fb_name = "feedback_" + String(i) %>
        <p style="margin-top:1%;"><%= i + 1;%>. <%= feedback_questions[i]; %></p>
        <input type="text" class="tb1" name="<%= fb_name %>" value="<%= feedbacks[i] %>" value="N" disabled></input>
      <% } %>
      </div>

    </div> <!-- end of div tab_content-->
    </form>
    <script type="text/javascript" src="javascripts/highlight.js"></script>
  </body>
</html>
