<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Ta Grade | Code Reviewer</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/star_rater.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tab.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/breadcrumb.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/textbox.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
  </head>
  <body onload="<%- "set_up_highlight('" + String(init_highligts) + "')"%>">
    <% include templates/ta_header.ejs %>

    <form enctype="application/json" action="ta_grade/go_to_ta_grade" method="post">
      <input class="button" type="submit" name="prev_btn" value="previous" style="float:left;"></input>
      <input class="button" type="submit" name="prev_10_btn" value="prev 10" style="float:left;"></input>
      <label style="padding-top:10px"><%= done_reviewed %> / <%= reviews.length%> completed.</label>

      
      <input class="button" type="submit" name="next_btn" value="next" style="float:right;"></input>
      <input class="button" type="submit" name="next_10_btn" value="next 10" style="float:right;"></input>
    <ul class="tab">
      <% var i = 0; var index = display_index + i; var current = 0;
       while((index < reviews.length) && (i < 10)) {
        var btn_name = "peer_" + String(i+1);
         if (index+1 == peer_num) { 
          current = index;
          if (reviewed[reviews[index]] == review_by.length) { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= reviews[index] %>" class="tab both"></input></li>
          <% } else { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= reviews[index] %>" class="tab active"></input></li>
          <% } %>
        <% } else if (reviewed[reviews[index]] == review_by.length) { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= reviews[index] %>" class="tab reviewed"></input></li>
        <% } else { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= reviews[index] %>" class="tab"></input></li>
        <% }
          i = i + 1;
          index = display_index + i;%>

      <% } %>
    </ul>

    <div class="tabcontent">
      <label style="float:right;"><%= peer_num %> / <%= reviews.length%></label>
      <ul class="tab">
      <% for (var i = 0; i < review_by.length; i ++) {
        var btn_name = "peer_sub_" + String(i+1);
         if (i + 1 == peer_sub_num) { 
          if (sub_reviewed[reviews[current] + ',' + review_by[i]] > 0) { %>
            <li><input type="submit" name="<%= btn_name%>" value="<%= review_by[i] %>" class="tab both"></input></li>
          <% } else { %>
            <li><input type="submit" name="<%= btn_name%>" value="<%= review_by[i] %>" class="tab active"></input></li>
          <% } %>
        <% } else if (sub_reviewed[reviews[current] + ',' + review_by[i]] > 0){ %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= review_by[i] %>" class="tab reviewed"></input></li>
        <% } else {%>
          <li><input type="submit" name="<%= btn_name%>" value="<%= review_by[i] %>" class="tab"></input></li>
        <% } %>
      <% } %>
      <div class="stars1">
        <% for(var i = 2; i >= 1; i --){
            var class_name = "star1 star1-" + String(i);
            var id_name = "star1-" + String(i);
            var func_name = "get_mark(" + String(i) + ")";
            if (i == mark_num) { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" onclick="<%= func_name%>" checked="checked"></input>
         <% } else { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" onclick="<%= func_name%>"></input>
         <% } %>
            <label class="<%= class_name %>" for="<%= id_name %>"></label>
        <% } %>
      </div>
      <input id="mark_number" value="<%= mark_num %>" name="mark_num" style="display:none;"></input>
    </ul>

      <div class="stars">
        <% for(var i = 5; i >= 1; i --){
            var class_name = "star star-" + String(i);
            var id_name = "star-" + String(i);
            var func_name = "get_star(" + String(i) + ")";
            if (i == num_stars) { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" onclick="<%= func_name%>" checked="checked" value="N" disabled></input>
         <% } else { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" onclick="<%= func_name%>" value="N" disabled></input>
         <% } %>
            <label class="<%= class_name %>" for="<%= id_name %>"></label>
        <% } %>
      </div>

      <input id="star_number" value="<%= num_stars%>" name="star_num" style="display:none;"></input>
      <input id="storage" name="highlight_storage" type="text" style="display:none;"></input>

      <div>
      </div>

      <div class="border" style="text-align: left;">
        <ol class="code">
          <%
          var lines = code.split("\n");
          var count = 1;
          lines.forEach(function(next_line){
            var line = "line-" + String(count); 
            if (next_line.length <= 1) {
              next_line = next_line + String.fromCharCode(160);
            }
            next_line = next_line.replace(new RegExp(' ', 'g'), String.fromCharCode(160)); %>
            <li id="<%= line %>" class="row">
              <span><%= next_line %></span>
            </li>
            <% count = count + 1; %>
          <% }); %>
        </ol>
      </div>
      
      <div id="popup" class="annotation">comment text</div>

      
      <div style="text-align: left; font-family: monospace; margin-top:1%;">

        <h1 style="font-size: 30px;">Overall Comments</h1>
      <% for(var i = 0; i < feedback_questions.length; i++) { 
          var fb_name = "feedback_" + String(i) %>
        <p style="margin-top:1%;"><%= i + 1;%>. <%= feedback_questions[i]; %></p>
        <input type="text" class="tb1" name="<%= fb_name %>" value="<%= feedbacks[i] %>" value="N" disabled></input>
      <% } %>
      </div>
      
      <input class="button" type="submit" name="prev_sub_btn" value="previous" style="float:left;"></input>
      <input class="button" type="submit" name="save_btn" value="save"></input>
      <input class="button" type="submit" name="next_sub_btn" value="next" style="float:right;"></input>
    </div> <!-- end of div tab_content-->

      <input class="button" type="submit" name="prev_btn" value="previous" style="float:left;"></input>
      <input class="button" type="submit" name="prev_10_btn" value="prev 10" style="float:left;"></input>
      <input class="button" type="submit" name="not_done_btn" value="go to not complete" ></input>
      <input class="button" type="submit" name="next_btn" value="next" style="float:right;"></input>
      <input class="button" type="submit" name="next_10_btn" value="next 10" style="float:right;"></input>
    </form>



    <script type="text/javascript" src="javascripts/test.js"></script>
    <script type="text/javascript" src="javascripts/highlight.js"></script>
  </body>
</html>

