<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Ta Review | Code Reviewer</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/star_rater.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tab.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/breadcrumb.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/textbox.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
  </head>
  <body onload="<%- "set_up_highlight('" + String(init_highligts) + "')"%>">
    <% include templates/ta_header.ejs %>
    <form style="width:100%;" enctype="application/json" action="ta_review/go_to_ta_review" method="post">
      <input class="button_dark" type="submit" name="prev_btn" value="prev" style="float:left;"></input>
      <input class="button_dark" type="submit" name="prev_10_btn" value="prev 10" style="float:left;"></input>
      <label style="padding-top:10px"><%= done_reviewed %> / <%= reviews.length%> completed.</label>
      <% if (is_done) { %>
        <label>All reviews are completed!</label>
      <% } %>
      <input class="button_dark" type="submit" name="next_btn" value="next" style="float:right;"></input>
      <input class="button_dark" type="submit" name="next_10_btn" value="next 10" style="float:right;"></input>
    <ul class="tab">
      <% var i = 0; var index = display_index + i;
       while((index < reviews.length) && (i < 10)) {
        var btn_name = "peer_" + String(i+1);
         if (index+1 == peer_num) { 
            if (reviewed[reviews[index]] > 0){ %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= reviews[index] %>" class="tab both"></input></li>
          <% } else { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= reviews[index] %>" class="tab active"></input></li>          
          <% } %>
        <% } else if ((reviews[index] in reviewed) && reviewed[reviews[index]] > 0){ %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= reviews[index] %>" class="tab reviewed"></input></li>
        <% } else { %>
          <li><input type="submit" name="<%= btn_name%>" value="<%= reviews[index] %>" class="tab"></input></li>
        <% }
          i = i + 1;
          index = display_index + i;
       } %>
    </ul>

    <div class="tabcontent">
      <div style="text-align: right;"> <%= peer_num %> / <%= reviews.length%></div> 
      <div class="stars">
        <% for(var i = 5; i >= 1; i --){
            var class_name = "star star-" + String(i);
            var id_name = "star-" + String(i);
            var func_name = "get_star(" + String(i) + ")";
            if (i == num_stars) { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" onclick="<%= func_name%>" checked="checked"></input>
         <% } else { %>
              <input class="<%= class_name %>" id="<%= id_name %>" type="radio" name="star" onclick="<%= func_name%>"></input>
         <% } %>
            <label class="<%= class_name %>" for="<%= id_name %>"></label>
        <% } %>
      </div>

      <input id="star_number" value="<%= num_stars%>" name="star_num" style="display:none;"></input>
      <input id="storage" name="highlight_storage" type="text" style="display:none;"></input>

      <div style="width: 100%;">
        <!-- Trigger/Open The Modal -->
        <input type="button" id="myBtn" value="Add Comment!" class="button_blue"></input>
        <!-- del comments button!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <input type="button" id="myBtn_del" value="x" style="display:none;"></input>
      </div>


      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">×</span>
            <h2 style="font-size: 20px;">Add Comments<h2>
          </div>
          <div class="modal-body">
            <p id="text_in_modal" ></p>
            <input class="tb1" type="textarea" id="comments" style="display:none;" value=""></input>
          </div>
          <div class="modal-footer">
            <input class="btn btn-default" type="button" id="saveBtn" value="save" style="display:none;"></input>
          </div>
        </div>
      </div>

      <!-- The Modal -->
      <div id="myModal_del" class="modal_del">

        <!-- Modal content -->
        <div class="modal_del-content">
          <div class="modal_del-header">
            <span class="close">×</span>
            <h2 style="font-size: 20px;">Delete Comments<h2>
          </div>
          <div class="modal_del-body">
            <p><%= String(init_highligts) %></p>
          </div>
          <div class="modal_del-footer">
            <input class="btn btn-default" type="button" id="delBtn" value="delete" style="display:none;"></input>
          </div>
        </div>
      </div>












































      <div class="border" style="text-align: left;">
        <ol class="code">
          <%
          var lines = code.split("\n");
          var count = 1;
          lines.forEach(function(next_line){
            var line = "line-" + String(count); 
            if (next_line.length <= 1) {
              next_line = next_line + String.fromCharCode(160);
            }
            next_line = next_line.replace(new RegExp(' ', 'g'), String.fromCharCode(160)); %>
            <li id="<%= line %>" class="row">
              <span><%= next_line %></span>
            </li>
            <% count = count + 1; %>
          <% }); %>
        </ol>
      </div>
      
      <div id="popup" class="annotation">comment text</div>

      
      <div style="text-align: left; font-family: monospace; margin-top:1%;">

        <h1 style="font-size: 30px;">Overall Comments</h1>
      <% for(var i = 0; i < feedback_questions.length; i++) { 
          var fb_name = "feedback_" + String(i) %>
        <p style="margin-top:1%;"><%= i + 1;%>. <%= feedback_questions[i]; %></p>
        <input type="text" class="tb1" name="<%= fb_name %>" value="<%= feedbacks[i] %>"></input>
      <% } %>
      </div>
      

      <input class="button_dark" type="submit" name="save_btn" value="save"></input>

    </div> <!-- end of div tab_content-->
      <input class="button_dark" type="submit" name="prev_btn" value="prev" style="float:left;"></input>
      <input class="button_dark" type="submit" name="prev_10_btn" value="prev 10" style="float:left;"></input>
      <input class="button_dark" type="submit" name="not_done_btn" value="go to not complete" ></input>
      <input class="button_dark" type="submit" name="next_btn" value="next" style="float:right;"></input>
      <input class="button_dark" type="submit" name="next_10_btn" value="next 10" style="float:right;"></input>
    </form>

    <script type="text/javascript" src="javascripts/test.js"></script>
    <script type="text/javascript" src="javascripts/highlight.js"></script>
  </body>
</html>

